backend/tests/coverage/clover.xml
backend/tests/coverage/coverage-final.json
backend/tests/coverage/lcov.info
backend/tests/coverage/lcov-report/base.css
backend/tests/coverage/lcov-report/block-navigation.js
backend/tests/coverage/lcov-report/favicon.png
backend/tests/coverage/lcov-report/index.html
backend/tests/coverage/lcov-report/prettify.css
backend/tests/coverage/lcov-report/prettify.js
backend/tests/coverage/lcov-report/sort-arrow-sprite.png
backend/tests/coverage/lcov-report/sorter.js
backend/tests/coverage/lcov-report/src/app.js.html
backend/tests/coverage/lcov-report/src/index.html
backend/tests/coverage/lcov-report/src/routes.js.html
backend/tests/coverage/lcov-report/src/server.js.html
backend/tests/coverage/lcov-report/src/controllers/IncidentController.js.html
backend/tests/coverage/lcov-report/src/controllers/index.html
backend/tests/coverage/lcov-report/src/controllers/OngController.js.html
backend/tests/coverage/lcov-report/src/controllers/ProfileController.js.html
backend/tests/coverage/lcov-report/src/controllers/SessionController.js.html
backend/tests/coverage/lcov-report/src/database/connection.js.html
backend/tests/coverage/lcov-report/src/database/index.html
backend/tests/coverage/lcov-report/src/utils/generateUniqueId.js.html
backend/tests/coverage/lcov-report/src/utils/index.html
